 /* */

#header{
  background-color:  #22292e;
  position:          fixed;
  top:               0;
  left:              0;
  right:             0;
  padding:   10px 20px 10px 10px;
}

#header img {
  float: left;
  width:          75px;
}

#header h1 {
  padding-top: 10px;
  padding-left: 15px;
  float: left;
  color:      white;
  font-size: 25px;

  }

nav {

  float: right;

}

nav a {
    display: inline-block;
    padding: 25px;
    text-decoration:none;
    color: white;
}
nav a.active{
  background-color: #1569af !important;
}

a:hover{
  background-color: #378ad0;
}
